/* Make the webpage mobile-friendly */
@media (max-width: 768px) {
  .dogs-container {
    flex-direction: column;
  }
}

body {
  background-color: beige;
}

h1 {
  text-align: center;
}

/* ul {
  width: 200px;
  margin-left: 30px;
} */

/* ul > li:first-child {
  text-align: left;
} */

/* Make the dogs-container a flex container */
.dogs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* .dogs-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr);
} */

/* Make the flexbox items for the dogs */
.dog {
  flex: 1 1 380px;
  /* height: 380px; */
  margin: 10px;
  border: 1px solid burlywood;
  border-radius: 5px;
}

/* .dog {
  grid-column: 1;
  grid-row: 1;
}

.dog {
  grid-column: 2;
  grid-row: 1;
} */

/* Make the dog images */
.dog-image {
  /* display: flex; */
  /* width: 32%;
  height: auto; */
  height: 3%;
  width: auto;
  /* padding: 10px; */
  /* object-fit: cover; */
}

/* Make the dog descriptions */
.dog-description {
  padding: 10px;
  /* font-family: sans-serif; */
}

/* Make the owner-story container */
/* h4 {
  margin: 50px 0;
} */

.owner-story {
  margin: 50px 100px;
  /* text-align: center; */
}
