/* Make the webpage mobile-friendly */
@media (max-width: 768px) {
  body {
    flex-direction: column;
    max-width: 100%;
  }
}

body {
  margin: 0 auto;
  background-color: beige;
}

h1 {
  text-align: center;
}

.owner-story {
  width: 768px;
  margin: auto;
  margin-bottom: 50px;
}

.dogs-container {
  width: 768px;
  margin: auto;
}

.dog-image {
  max-width: auto;
  max-height: 100px;
}

.dog-images {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  flex-wrap: nowrap;
}

.dog {
  border: 1px solid burlywood;
  border-radius: 5px;
  margin-bottom: 15px;
  box-shadow: 0 0 10px 0 rgb(29, 27, 27);
  width: 95%;
}

.dog-description {
  margin: 10px;
  text-decoration: underline;
}
