/* Define CSS variables */
:root {
  --owner-story-width: 768px;
  --dogs-container-width: 768px;
  --primary-color: teal;
  --secondary-color: orange;
  /* --font-family: Roboto, sans-serif; */
  --font-family: Georgia, Times New Roman, Verdana;
}

/* Make the webpage mobile-friendly */
@media (max-width: 768px) {
  body {
    flex-direction: column;
    padding: 10px;
  }
  .navbar {
    flex-direction: column;
  }
}

/* Global styles */
body {
  margin: 0 auto;
  background-color: #faf0e6;
  font-family: var(--font-family);
  font-size: 16px;
}

/* Navbar */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 548px;
  font-weight: 700;
  font-size: 1.3em;
  margin-top: 30px;
}

.navbar a {
  text-decoration: none;
  color: dimgray;
}

.navbar a:hover {
  color: brown;
}

h1 {
  margin-top: 80px;
}
h1,
h2,
h3 {
  text-align: center;
  font-weight: bold;
}

h2,
h3 {
  margin-top: 50px;
}

h4 {
  text-align: center;
  color: purple;
}

.owner-story {
  width: 748px;
  margin: auto;
  margin-bottom: 50px;
}

.owner-story p {
  font-weight: 500;
}

.location {
  margin-top: 0;
}

.dogs-container {
  width: 748px;
  margin: auto;
}

.dog-image {
  max-width: auto;
  max-height: 210px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgb(29, 27, 27);
}

.dog-images {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.dog-images img:active {
  transform: scale(1.8);
}

.dog {
  border: 1px solid burlywood;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0 0 10px 0 rgb(29, 27, 27);
}

.dog-description {
  margin: 10px;
  text-decoration: underline;
  color: var(--secondary-color);
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.contact-form label {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 1.1em;
  color: var(--primary-color);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
}

.contact-form button {
  /* width: 100%; */
  align-self: center;
  width: 200px;
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  margin-bottom: 50px;
}
