/* Make the webpage mobile-friendly */
@media (max-width: 768px) {
  .dogs-container {
    flex-direction: column;
  }
}

body {
  background-color: beige;
}

h1 {
  text-align: center;
}

/* Make the dogs-container a flex container */
.dogs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Make the flexbox items for the dogs */
.dog {
  flex: 1 1 380px;
  height: 380px;
  margin: 10px;
  border: 1px solid burlywood;
  border-radius: 5px;
}

/* Make the dog images */
.dog-image {
  /* display: flex; */
  /* width: 32%;
  height: auto; */
  height: 40%;
  width: auto;
  /* padding: 10px; */
  /* object-fit: cover; */
}

/* Make the dog descriptions */
.dog-description {
  padding: 10px;
  /* font-family: sans-serif; */
}

.owner-story {
  margin: 50px 100px;
  /* text-align: center; */
}
